*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.cant{
    width:100%;
    min-height:100vh;
    background: linear-gradient(135deg, #4203a9,#90bafc);
    color: #fff;
    padding: 10px;

}
.cal{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;

}
.cal h1{
    font-size: 60px;
}
.cal span{
    color: #ffff4f;
}
.inputbox{
    margin: 40px 0;
    padding: 35px;
    border-radius: 11px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;

}
.inputbox input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 7px;
    position: relative;

}
.inputbox button{
background:#ffff76 ;
border: 0;
outline: 0;
padding: 15px 30px;
border-radius: 5px;
font-weight: 500;
color: #333;
cursor: pointer;
}
.inputbox input::-webkit-calendar-picker-indicator{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: auto;
height: auto;
position: absolute;
background-position:calc(100% - 10px);
background-size: 35px;
cursor: pointer;
}
